.welcome-container{
  background-color: rgb(141,213,170);
  padding-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-logo{
  margin-bottom: 40px;
  width: 395px;
}

.welcome-text{
  font-size: 20px;
  color: #7C7C7C;
  margin-left: 60px;
}
