.container-widget {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}

.widget {
  display: flex;
  flex-basis: 25%;
  margin-bottom: 2.5rem;
  height: 297px;
}

@media only screen and (max-width: 1440px) {
  .rate {
    font-size: 26px;
  }
}

.content-text{
  font-size: 13px;
  color: #7C7C7C;
  margin-left: 60px;
}

.title-text{
  font-size: 60px;
  color: #7C7C7C;
  margin-left: 60px;
  margin-bottom: 20px;
}

.artists-container{
  background-color: rgb(141,213,170);
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
